// border-width...
$bwThin: 0.063rem; // 1px
$bwMedium: 0.094rem; // 1.5px
$bwThick: 0.125rem; // 2px
$bwHeavy: 0.25rem; // 4px

// border-radius...
$radiiXS: 0.25rem; // 4px
$radiiSM: 0.5rem; // 8px
$radiiLG: 1rem; // 16px
$radiiXL: 1.5rem; // 24px
$radii2XL: 2rem; // 32px
$radiiFull: 50%;
