// Colors...
$colorsYellow0: #FFDD00;
$colorsYellow1: #FFD800;
$colorsYellow2: #FFD200;
$colorsWhite: #FFFFFF;
$colorsGray0: #EDEDED;
$colorsGray1: #DFDFDF;
$colorsGray2: #7D7D7D;
$colorsGray3: #4F4F4F;
$colorsBlack1: #121212;
$colorsBlack2: #0A0A0A;

// Opacity...
$opDefault: 100%;
$opSemiOpaque: 90%;
$opIntense: 75%;
$opMedium: 50%;
$opLight: 25%;
$opSemiTransparent: 10%;