// font-family...
$ffHighlight: 'Rubik', sans-serif; // Título
$ffDefault: 'Signika', sans-serif; // Texto

// font-weight...
$fwExtraBold: 800; // Título
$fwSemiBold: 600; // Texto
$fwLight: 300; // Texto

// font-size...
$fsXS: 0.75rem; // 12px
$fsSM: 0.875rem; // 14px
$fsMD: 1rem; // 16px
$fsLG: 1.5rem; // 24px
$fsXL: 2rem; // 32px
$fs2XL: 2.5rem; // 40px
$fs3XL: 3rem; // 48px
$fs4XL: 3.5rem; // 56px
$fs5XL: 4rem; // 64px
$fs6XL: 4.5rem; // 72px
$fs7XL: 5rem; // 80px

// line-height...
$lhShorter: 125%;
$lhShort: 140%;
$lhBase: 160%;
$lhTall: 180%;